body {
    /* background-color: rgb(236, 255, 255) !important; */
    font-family: 'Roboto', sans-serif;
  background-color: #fff; /* Starting color */
  transition: background-color 0.5s ease-out; /* Add a transition effect */
}

/* Set the background color to dark gray when the user scrolls down */
body.scrolled {
  background-color: #444;
}

/* Set the background color to orange when the user scrolls further down */
body.scrolled.scrolled-more {
  background-color: #ff8c00;
}