/* .css-qlig70 {
    -webkit-padding-start: 0 !important; 
    padding-inline-start: 0 !important; 
    -webkit-padding-end: 0 !important; 
    padding-inline-end: 0 !important; 
    padding-top: 0 !important; 
    padding-bottom: 0 !important; 
    -webkit-flex: 0 !important; 
    -ms-flex: 0 !important;
    flex: 0 !important; 
  } */